@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lql1un');
  src:  url('fonts/icomoon.eot?lql1un#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lql1un') format('truetype'),
    url('fonts/icomoon.woff?lql1un') format('woff'),
    url('fonts/icomoon.svg?lql1un#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  display: inline-block;
}

[class^="icon-"], [class*=" icon-"]{
  color: rgba(110, 113, 119, 0.77);
}

.icon-menu:before {
  content: "\e9bd";
  font-size: 28px;
  color: #fff;
  background: #211d33;
  padding: 2px 5px;
  border-radius: 5px;
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
  font-size: 16px;
}
.icon-search:hover{
  color:  #1d2a46;
  transform: scale(1.1);
}

.icon-circle-right:before {
  content: "\ea42";
  font-size: 42px;
  position: absolute;
  top:45%;
  right: 50px;
}
.icon-circle-left:hover,.icon-circle-right:hover{
  color: #70d5e3;
}
.icon-circle-left:before {
  content: "\ea44";
  font-size: 42px;
  position: absolute;
  top:45%;
  left: 50px;
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus2:hover{
  color: #e65a5a;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-facebook2:hover{
  color: #36349c;
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-twitter:hover{
  color: #3ccfd9;
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube:hover{
  color: #d92b40;
}
