@import url('../icomoon/style.css');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

header{
  width: 100%;
  height: 70px;
  background: #73f587;
}
.menu{
  position: relative;
}

.menu .logo{
  width: 120px;
  height: 50px;
  position: absolute;
  top:10px;
  left:5%;
}

.logo img{
  width: 50px;
  height: 50px;
}
.menu ul{
  position: absolute;
  left: 14%;
}
.menu ul li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.menu ul li a{

  text-decoration: none;
  color: #fff;
}
.contenedor{
  width: 100%;
  height: 500px;
  border: 1px solid #000;
}

/*social media fixed*/
.social-media{
  width: 80px;
  height: auto;
  position: fixed;
  left: 5px;
  top:35%;
}

.social-media a{
  margin: 10px 0;
  text-decoration: none;
}

.social-media a:hover{
  transform: scale(1.1);
}

.principal{
  height: 70px;
}

.image-novel{
  margin: 10px;
  display: inline-block;
}
footer{
  width: 100%;
  height: 100px;
  background: rgba(80, 106, 91, 0.74);
}
